{% extends 'base.html' %}


{% block title %}Home{% endblock %}


{% block content %}

<form id="login-form" class="col-md-4 col-md-push-4" action="{{ url_for('auth.login', next=request.args.get('next')) }}" method="POST">
    <div id="login-email" class="form-group">
        <label>Email:</label>
        <input type="email" class="form-control" name="email" placeholder="enter your email">
    </div>
    <div id="login-password" class="form-group">
        <label>Password:</label>
        <input type="password" class="form-control" name="password" placeholder="enter your password">
    </div>
    <div class="checkbox">
        <label><input type="checkbox" name="remember_me">Remember me</label>
    </div>
    <button type="submit" class="btn btn-block btn-success">Login</button>
</form>
{% endblock %}

{% block scripts %}
{% endblock %}
