{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="row">
    <div class="page-header col-md-4 col-md-push-4">
        <h3>Reset Your Password</h3>
    </div>
</div>
<div class="row">
    <form id="reset-password-request-form" class="col-md-4 col-md-push-4" action="{{ url_for('auth.password_reset_request') }}" method="POST">
        <div id="reset-password-request-email" class="form-group">
            <label>Email:</label>
            <input type="email" class="form-control" name="email" placeholder="enter your email">
        </div>
        <button type="submit" class="btn btn-block btn-success">send email with instructions</button>
    </form>
</div>
{% endblock %}