{% extends "base.html" %}

{% block title %}Confirm your account{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-push-3">
            <h1>
                Hello, {{ current_user.username }}!
            </h1>
            <h3>You have not confirmed your account yet.</h3>
            <p>
                Before you can access this site you need to confirm your account.
                Check your inbox, you should have received an email with a confirmation link.
            </p>
            <p>
                Need another confirmation email? <a id="resend-confirmation-link">Click here</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    createModalForResendConfirmationLink();
{% endblock %}