@temp_color: rgba(0, 0, 0, 0.1);
@lite_blue: #a0d5e8;
@lite_red: #e0ab96;
@active: #3bd258;
@restore: #a0d5e8;
@close: #e0ab96;
@lite_gray: #a9b0aa;

body {
    height: 1500px;
    padding: 50px;
    margin: 0px;
}

/* nav
------------------------------------------------------------------------------*/



/* header
------------------------------------------------------------------------------*/

header {

    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;

    &.temp_color {
        background-color: @temp_color;
    }

    h2 {
        text-align: center;
        padding: 0px 0px;
        margin: 0px 0px;
        line-height: 50px;
    }
}

/* content
------------------------------------------------------------------------------*/
div.content {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: auto;

    &.temp_color {
        background-color: @temp_color;
    }
}


/* footer
------------------------------------------------------------------------------*/
footer {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 150px;

    &.temp_color {
        background-color: @temp_color;
    }
}


/* tasks adding section
------------------------------------------------------------------------------*/

section#add_task_section {
    width: 100%;

    textarea.task_name {
        font-size: 120%;
        resize: vertical;
        height: 50px;
        margin: 10px 0px;
        padding: 5px;
    }

}


/* History section
------------------------------------------------------------------------------*/

section#history_section {

    width: 100%;

    h3 {
        text-align: center;
    }

    div.history_row {

        position: relative;
        display: inline-block;
        background-color: @lite_gray + 50;
        margin-bottom: 15px;

        &:hover {

            div.history_col.control_buttons {
                position: absolute;
                left: 180px;
                display: block;
            }
        }

        div.history_col {
            float: left;

            &.activity_marker {
                position: absolute;
                width: 15px;
                height: 15px;
                border-radius: 50%;

                &.active {
                    background-color: @active;
                }
            }

            &.history_task_info {
                width: 220px;
                text-align: center;

                .task_name {
                    font-size: 14px;
                    margin-bottom: 2px;
                }

                .time_complete {
                    font-size: 10px;
                    color: @lite_gray - 50;
                }
            }

            &.control_buttons {

                display: none;

                &:hover {
                    display: block;
                }

                a.restore {
                    color: @restore;
                    float: left;
                    font-size: 14px;
                    line-height: 16px;
                }

                a.close {
                    color: @close;
                    float: right;
                    font-size: 16px;
                    line-height: 16px;
                }
            }
        }
    }
}


/* Tasks area section
------------------------------------------------------------------------------*/
section#tasks_area {
    width: 100%;

    article.time {
        width: 100%;
        min-height: 200px;
        text-align: center;
    }

}

/* Tasks
------------------------------------------------------------------------------*/

div.task {
    display: inline-block;
    position: relative;
    height: 140px;
    width: 140px;

    a.task_body_link {

        div.task_body {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            background-color: #a0d5e8;
            outline: none;


            p {
                margin: 0px;
                margin-top: 20px;
                text-align: center;

                &.left_time {
                    font-size: 125%;
                }

                &.time_loop {
                    font-size: 75%;
                }
            }
        }
    }

    a.task_close_link {

        display: none;

        &:hover {
            display: block;
        }

        div.task_close {
            height: 36px;
            width: 36px;
            position: absolute;
            left: 75%;
            top: 0%;
            border-radius: 18px;
            background-color: #e0ab96;
            outline: none;

            p {
                text-align: center;
                vertical-align: middle;
                line-height: 36px;
                margin: 0px;
            }
        }
    }

    a.task_body_link:hover + a.task_close_link {
        display: block;
    }
}
