@temp_color: rgba(0, 0, 0, 0.1);
@lite_blue: #a0d5e8;
@lite_red: #e0ab96;
@lite_green: #5cb85c;
@dark_green: #449d44;
@restore: #a0d5e8;
@close: #e0ab96;
@lite_gray: #a9b0aa;

body {
    height: 1500px;
    padding: 50px;
    margin: 0px;
}

/* nav
------------------------------------------------------------------------------*/


/* content
------------------------------------------------------------------------------*/
div.content {
    margin-top: 10px;
    margin-bottom: 10px;

    &.temp_color {
        background-color: @temp_color;
    }
}


/* tasks adding section
------------------------------------------------------------------------------*/

section#add_task_section {
    width: 100%;

    div#duration-picker {
        text-align: center;
    }

    #task-name {
        font-size: 120%;
        resize: vertical;
        height: 50px;
        margin: 10px 0px;
        padding: 5px;
    }

}


/* History section
------------------------------------------------------------------------------*/

section#history_section {
    width: 100%;

    h3 {
        text-align: center;
    }

    div.history-row {
        text-align: center;
        padding: 0px;
        font-size: 0px;

        span.marker {
            display: inline-block;
            width: 10%;
            vertical-align: middle;

            &.active {
                color: @lite_green;
                font-size: 18px;
            }
        }

        p.task-name-text {
            display: inline-block;
            width: 80%;
            font-size: 16px;
            margin: 0px;
            line-height: 16px;
            margin: 5px 0px 7px 0px;
            vertical-align: middle;
        }

        span.dropdown {
            display: inline-block;
            width: 10%;
            vertical-align: middle;

            a {
                font-size: 20px;

                &:hover {
                    cursor: pointer;
                }
            }
            .dropdown-menu {
                min-width: 100px;
            }
        }
    }
}


/* Tasks area section
------------------------------------------------------------------------------*/
section#tasks_area {
    width: 100%;

    div.task {
        border-radius: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 0px;

        div.complete {
            display: inline-block;
            width: 7%;
            vertical-align: middle;
            text-align: center;
            font-size: 40px;
            line-height: 1;

            a {
                color: @lite_green;
                cursor: pointer;

                &:hover {
                    text-decoration: none;
                    color: @dark_green;
                }
            }

        }

        div.name-and-progress {
            display: inline-block;
            width: 87%;
            text-align: center;
            vertical-align: middle;
            font-size: 18px;

            div.progress {
                margin-bottom: 0px;
                margin-top: 5px;
                height: 10px;

                div.progress-bar {
                    height: 10px;
                }
            }
        }

        div.add-info {
            display: inline-block;
            width: 5%;
            text-align: center;
            vertical-align: middle;
            font-size: 16px;

            a {
                cursor: pointer;
            }
        }
    }
}

