{% extends "base.html" %}

{% from "main/macroses.html" import create_tasks_area, create_tabs %}

{% block title %}Reminder{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <h4 class="header-default">New Task</h4>
        <form id="create-task">
            <div class="form-group">
                <input id="duration-picker" class="form-control" autocomplete="off">
            </div>
            <div class="form-group">
                <textarea id="task-name" class="form-control" placeholder="write your task here" autocomplete="off"></textarea>
            </div>
            <button class="btn btn-inverse btn-block">create</button>
        </form>
    </div>
    <div class="col-md-8 col-md-offset-1">
        <h4 class="header-default">Progress of your tasks</h4>
        <div class="row">
            <div class="col-md-10">
                <div id="tabs-navigation" class="active-primary" data-toggle="buttons">

                    {{ create_tabs(tabs) }}

                    <a id="add-new-tab" class="btn btn-inverse" href="#">
                        <div>
                            <span class="fa fa-plus-square" aria-hidden="true"></span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div id="order-button" class="dropdown">
                    <button class="btn btn-inverse btn-block dropdown-toggle" type="button" data-toggle="dropdown">
                        Sort by <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-inverse">
                        <li><a data-value="by_name">name</a></li>
                        <li><a data-value="by_time_loop">loop time</a></li>
                        <li><a data-value="by_time_init">init time</a></li>
                        <li><a data-value="by_time_left">left time</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content row">

            {{ create_tasks_area(tabs_tasks) }}

        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
    {% if current_user.is_authenticated %}
    <script>
        $(document).ready(function(){
            CURRENT_TAB = {{ active_tab }}
            new DurationPicker('#duration-picker');
            treatAddNewTask();
            treatOrderButton();
            treatNewTabButton();
            treatTabClosing();
            treatTabActivation();
            treatTabNameEdition();
            treatTaskCompleting();
            treatTaskClosing();
            treatTaskNameEdition();
            treatTaskProgressBarAnimation();
            treatTaskProgressBarTooltip();
            treatTaskDragging();
            treatTabsDragging();
            treatTabsDroppable();
        });
    </script>
    {% endif %}
{% endblock %}
