{% extends "base.html" %}

{% from "main/macroses.html" import create_tasks_area, create_tabs %}

{% block title %}Reminder{% endblock %}

{% block content %}
<div class="row">
    <div id="left_side" class="col-md-3">
        <section id="add_task_section">
            <div id="duration-picker"></div>
            <textarea id="task-name" class="form-control" placeholder="write your task here" required="required"></textarea>
            <button class="btn btn-success btn-lg btn-block transition" onclick="addNewTask()">create</button>
        </section>
    </div>
    <div id="right_side" class="col-md-9">
        <div class="sort-section row">
          <div class="col-md-12">
            <ul class="nav nav-tabs col-md-10">

                {{ create_tabs(tabs) }}

                <li class="add-button">
                    <div class="dropdown pull-right">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">+</button>
                        <ul class="dropdown-menu">
                            <li>
                                <input type="text" class="form-control" id="new-tab-name">
                                <button type="button" class="btn btn-default" onclick="addNewTab()">add</button>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="dropdown pull-right">
              <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Sort by
              <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" onclick="makeOrder(this)" data-value="by_name">name</a></li>
                <li role="presentation"><a role="menuitem" onclick="makeOrder(this)" data-value="by_time_loop">loop time</a></li>
                <li role="presentation"><a role="menuitem" onclick="makeOrder(this)" data-value="by_time_init">init time</a></li>
                <li role="presentation"><a role="menuitem" onclick="makeOrder(this)" data-value="by_time_left">left time</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-content">

            {{ create_tasks_area(tabs_tasks) }}

        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
    {% if current_user.is_authenticated %}
    <script>
        $(document).ready(function(){
            CURRENT_TAB = {{ active_tab }}
            durationPicker.show();
            initTasksJs();
        });
    </script>
    {% endif %}
{% endblock %}
