{% extends "base.html" %}

{% from "main/macroses.html" import create_tasks_area, create_tabs %}

{% block title %}Reminder{% endblock %}

{% block content %}
<div class="row">
    <div id="left_side" class="col-md-3">
        <h3 class="text-center">New Task</h3>
        <section id="add_task_section">
            <div id="duration-picker"></div>
            <textarea id="task-name" class="form-control" placeholder="write your task here" required="required"></textarea>
            <button class="btn btn-success btn-lg btn-block transition" onclick="addNewTask()">create</button>
        </section>
    </div>
    <div id="right_side" class="col-md-8 col-md-offset-1">
        <h3 class="text-center">Progress of your tasks</h3>
        <div class="row">
            <div class="col-md-10">
                <div class="btn-group" data-toggle="buttons">

                    {{ create_tabs(tabs) }}

                    <button id="add-new-tab" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        Add new tab <span class="fa fa-plus-square" aria-hidden="true"></span>
                    </button>

                </div>
            </div>
            <div class="col-md-2">
                <div id="order-button" class="dropdown">
                    <button class="btn btn-inverse btn-block dropdown-toggle" type="button" data-toggle="dropdown">
                        Sort by <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-inverse">
                        <li><a data-value="by_name">name</a></li>
                        <li><a data-value="by_time_loop">loop time</a></li>
                        <li><a data-value="by_time_init">init time</a></li>
                        <li><a data-value="by_time_left">left time</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="tab-content">

            {{ create_tasks_area(tabs_tasks) }}

        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
    {% if current_user.is_authenticated %}
    <script>
        $(document).ready(function(){
            CURRENT_TAB = {{ active_tab }}
            durationPicker.show();
            treatOrderButton();
            treatNewTabButton();
            initTasksJs();
        });
    </script>
    {% endif %}
{% endblock %}
