

{% macro create_tasks_area(tabs_tasks) %}
    {% for tab, tasks in tabs_tasks %}
        {% if tab.is_active() %}
            <div id="tab{{ tab.id }}" class="tab-pane fade in active col-md-12">
        {% else %}
            <div id="tab{{ tab.id }}" class="tab-pane fade col-md-12">
        {% endif %}
                <ul class="tab-tasks connected-sortable">
                    {% for task in tasks %}
                        {{ create_task_item(task) }}
                    {% endfor %}
                </ul>
            </div>
    {% endfor %}
{% endmacro %}


{% macro create_task_item(task) %}
    {% if task.is_active() %}
        <li id="task{{ task.id }}" class="task well well-sm">
            <div class="task-complete">
                <i class="fa fa-check-circle"></i>
            </div>
            <div class="task-draggable-area">
                <i class="fa fa-ellipsis-v"></i>
            </div>
            <div class="task-name" >
                <span class="place-holder">{{ task.name }}</span>
                <span class="moved-text" contenteditable="true">{{ task.name }}</span>
                <i class="fa fa-times" style="display: none"></i>
                <div class="task-progress-bar"
                     data-time-loop="{{ task.time_loop }}"
                     data-left-time="{{ task.count_left_time() }}">
                    <div class="progress-bar-tooltip" style="display: none;">
                        <div class="tooltip-arrow"></div>
                        <div class="tooltip-content"></div>
                    </div>
                </div>
            </div>
        </li>
    {% endif %}
{% endmacro %}


{% macro create_tabs(tabs) %}
    {% for tab in tabs %}
        {% if tab.is_active() %}
            <a class="btn btn-inverse ui-sortable-handle active" data-toggle="tab" href="#tab{{ tab.id }}">
                <div> <!-- should be for moved text absolute align -->
                    <input type="radio" name="options" autocomplete="off" checked>
        {% else %}
            <a class="btn btn-inverse ui-sortable-handle" data-toggle="tab" href="#tab{{ tab.id }}">
                <div>
                    <input type="radio" name="options" autocomplete="off">
        {% endif %}
                    <span class="place-holder">{{ tab.name }}</span>
                    <span class="moved-text" contenteditable="true">{{ tab.name }}</span>
                    <i class="fa fa-times" style="display: none"></i>
                </div>
            </a>
    {% endfor %}
{% endmacro %}
