{% extends "base.html" %}

{% block title %}Settings{% endblock %}


{% block content %}
<div class="row">
    <div class="logo-side col-md-3">
        <img src="#" class="col-md-3" title="Your logo" alt="Your logo">
    </div>
    <div class="settings-side col-md-9">

        <div class="page-header">
            <h3>main information</h3>
        </div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">Name</label>
                <div class="col-sm-10">
                    <input id="username" type="text" class="form-control" placeholder="Name" value="{{ user.username }}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Timezone</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Timezone">
                </div>
            </div>
        </form>

        <div class="page-header">
            <h3>change email</h3>
        </div>
        <form id="change-email-form" class="col-md-12" action="{{ url_for('main.change_email_request') }}" method="POST">
            <div id="change-email" class="form-group">
                <p>Current email: {{ user.email }}</p>
                <label>New email:</label>
                <input type="email" class="form-control" name="email" placeholder="enter your email">
            </div>
            <div id="change-email-password" class="form-group">
                <label>Password:</label>
                <input type="password" class="form-control" name="password" placeholder="enter new password">
            </div>
            <button type="submit" class="btn btn-block btn-success" disabled>change email</button>
        </form>

        <div class="page-header">
            <h3>change password</h3>
        </div>
        <form id="change-password-form" class="col-md-12">
            <div id="change-password-old" class="form-group">
                <label>Current password</label>
                <input type="password" class="form-control" name="old-password" placeholder="old password">
            </div>
            <div id="change-password-new1" class="form-group">
                <label>New password</label>
                <input type="password" class="form-control" name="new-password1" placeholder="new password">
            </div>
            <div id="change-password-new2" class="form-group">
                <label>new password</label>
                <input type="password" class="form-control" name="new-password2" placeholder="new password">
            </div>
            <button type="submit" class="btn btn-block btn-success" disabled>change password</button>
        </form>

        <div class="page-header">
            <h3>notification settings</h3>
        </div>
        {% if user.subscribed %}
            {% set button_type = "btn-default" %}
            {% set button_text = "Unsubscribe" %}
            {% set disabled = "" %}
        {% else %}
            {% set button_type = "btn-success" %}
            {% set button_text = "Subscribe" %}
            {% set disabled = "disabled" %}
        {% endif %}
            <button class="btn btn-block {{ button_type }}" onclick="subscribe(this)">{{ button_text }}</button>
            <div class="row">
                <div class="col-md-12">
                {% for n in range(24) %}
                    {% set time = '{:0>2.2}'.format(n|string) %}
                    {% if time in schedule %}
                        {% set checked = "checked" %}
                    {% else %}
                        {% set checked = "" %}
                    {% endif %}
                    <div class="col-md-3 text-center">
                        <label class="checkbox-inline">
                            <input type="checkbox" value="{{ '{:0>2.2}'.format(n|string) }}" {{ checked }} {{ disabled }} onclick="schedule(this)">
                            {{ '{0:0>2.2}:00'.format(n|string) }}
                        </label>
                    </div>
                {% endfor %}
                </div>
            </div>

    </div>
</div>
{% endblock %}


{% block scripts %}
<script>
    $(document).ready(function() {
        editUserName();
        changeEmailForm();
        changePasswordForm();
    });
</script>
{% endblock %}
