@wisteria: #8E44AD;
@midnight_blue: #2C3E50;
@nephritis: #27AE60;
@turquoise: #1ABC9C;
@green_sea: #16A085;
@sun_flower: #F1C40F;
@sun_flower_hover: #F4D313;
@orange: #F39C12;
@pumpkin: #D35400;
@peter_river: #3498DB;
@belize_hole: #2980B9;
@clouds: #ECF0F1;
@asbestos: #7F8C8D;
@progress_bar: #53DFCF;
@emerald: #2ECC71;

html {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

body {
    position: relative;
    padding: 0px;
    margin: 0px;
    min-height: 100%;
    background-color: @turquoise;
}


/* HEADER
------------------------------------------------------------------------------*/
nav.navbar {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    ul {
        a {
            position: relative;
            line-height: 40px;
            font-size: 40px;
            padding-top: 20.0px;
            padding-bottom: 20.0px;
            text-transform: uppercase;
            height: 80px;
        }
        a.reminder-icon {
            width: 60px;
            img {
                display: block;
                height: 60px;
                width: 60px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -55%);
                transition: width 0.25s, height 0.25s;
                transition-timing-function: easeInOutBack;
                &:hover {
                    height: 63px;
                    width: 63px;
                }
            }
        }
    }
    form.navbar-form {
        padding-top: 22.5px;
        padding-bottom: 22.5px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .btn {
        border-radius: 3px;
        font-size: 16px;
        span {
            &.fa {
                margin-right: 5px;
            }
            display: inline-block;
            vertical-align: middle;
        }
        &.btn-warning {
            background-color: @sun_flower;
            &:hover {
                background-color: @sun_flower_hover;
                border-color: @sun_flower_hover;
            }
        }
    }
}


/* FOOTER
------------------------------------------------------------------------------*/
.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: @nephritis;

    .footer-copyright {
        line-height: 50px;
        color: white;
    }
}


/* content
------------------------------------------------------------------------------*/
div.content {
    padding-top: 100px;
    padding-bottom: 70px;

    .header-default {
        text-transform: uppercase;
        color: white;
        padding: 15px 0px 15px 0px;
        margin: 0px;
    }
}



/* message box
------------------------------------------------------------------------------*/
div#message-box {
    padding: 0px 0px;

    div.alert {
        text-align: center;
    }
}


/* login form
------------------------------------------------------------------------------*/
.login-form {
    border-radius: 3px;
    background-color: @clouds;
}


/* Popover
------------------------------------------------------------------------------*/
.popover-success {
    border-color: #3c763d;

    .arrow {
        border-right-color: #3c763d !important;
    }

    .popover-content {
        color: #3c763d;
    }
}

.popover-warning {
    border-color: #8a6d3b;

    .arrow {
        border-right-color: #8a6d3b !important;
    }

    .popover-content {
        color: #8a6d3b;
    }
}


.popover-error {
    border-color: #a94442;

    .arrow {
        border-right-color: #a94442 !important;
    }

    .popover-content {
        color: #a94442;
    }
}


/* Duration picker
------------------------------------------------------------------------------*/
div#duration-picker-replacer {

    margin-right: -5px;
    margin-left: -5px;

    div {
        padding-left: 5px;
        padding-right: 5px;
        position: relative;

        div {
            padding: 0px;
        }

        div.value {
            font-size: 40px;
            text-align: center;
            outline: none;
        }

        div.arrow {
            text-align: center;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 32px;
            position: absolute;
            cursor: pointer;

            &.up {
                top: -20px;
                left: 50%;
                transform: translateX(-50%);
                &:after {
                    content: "\f106";
                }
            }

            &.down {
                bottom: -20px;
                left: 50%;
                transform: translateX(-50%);
                &:after {
                    content: "\f107";
                }
            }
        }
    }

    div#hours, div#minutes {
        div.value {
            &:after {
                position: absolute;
                right: -10px;
                top: -3px;
                content: ":";
            }
        }
    }
}

/* Tabs
------------------------------------------------------------------------------*/
#tabs-navigation {
    padding: 0px;
    margins: 0px;
    margin-bottom: 25px;
    font-size: 0px;

    li {
        display: inline-block;
        list-style: none;
        margin-right: 3px;

        &.tab-droppable-hover a {
            background-color: @sun_flower;
        }
    }
    li:last-child {
        margin-right: 0px;
    }

    a {
        position: relative;
        border-radius: 3px;
        padding: 15px 35px;
        transition: padding-right 0.6s;
        margin-bottom: 3px;
        font-size: 15px;
        height: 51px;
        div {
            position: relative;
            i {
                position: absolute;
                line-height: 1.4;
            }
            span.moved-text {
                &:focus {
                    outline: none;
                }
                cursor: text;
                position: absolute;
                left: 50%;
                transition: left 0.3s;
                transform: translateX(-50%);
            }
            span.place-holder {
                visibility: hidden;
            }
        }
        &.active {
            background-color: @wisteria;
        }
        &.extended {
            padding-right: 75px;
        }
        &#add-new-tab {
            padding-right: 0px;
            padding-left: 0px;
            div {
                position: relative;
                height: calc(15px * 1.4);

                span {
                    display: inline-block;
                    position: absolute;
                    right: 0px;
                    top: 50%;
                    transform: translate(-20px, -50%);
                    font-size: 30px;
                    z-index: 200;
                }
            }
        }
    }
}

/* ORDER BUTTON
------------------------------------------------------------------------------*/
#order-button {
    ul.dropdown-menu {
        min-width: 100%;
        li {
            cursor: pointer;
        }
    }
}


/* Tasks area section
------------------------------------------------------------------------------*/
ul.tab-tasks {
    padding-left: 0px;

    li {
        list-style-type: none;
        position: relative;
    }

    li.task {
        border-radius: 3px;
        margin-bottom: 10px;

        div {
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            border-radius: 3px;

            &.task-complete {
                cursor: pointer;
                font-size: 32px;
                line-height: 32px;
                margin: 0px 5px;
            }
            &.task-draggable-area {
                background-color: @midnight_blue;
                color: white;
                cursor: grabbing;
                font-size: 16px;
                line-height: 32px;
                width: 22px;
                margin: 0px 15px 0px 10px;
            }
            &.task-name {
                position: relative;
                background-color: @progress_bar;
                color: white;
                padding: 0px 25px;
                width: calc(~"100% - 90px");
                line-height: 32px;
                min-height: 32px;
                i {
                    position: absolute;
                    right: 12.5px;
                    top: 50%;
                    transform: translate(50%, -50%);
                    cursor: pointer;
                    z-index: 200;
                }
                span.place-holder {
                    visibility: hidden;
                    width: calc(~"100% - 50px");
                }
                span.moved-text {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transition: left 0.3s;
                    transform: translate(-50%, -50%);
                    width: calc(~"100% - 50px");
                    z-index: 200;
                    cursor: text;
                    &:focus {
                        outline: none;
                    }
                }
                div.task-progress-bar {
                    position: absolute;
                    left: 0%;
                    top: 0%;
                    background-color: @midnight_blue;
                    height: 100%;
                    border-radius: 3px;
                    z-index: 100;
                    overflow: visible !important;

                    div.progress-bar-tooltip {
                        position: absolute;
                        right: 0%;
                        height: 100%;

                        div.tooltip-content {
                            position: absolute;
                            bottom: -20px;
                            right: 0%;
                            line-height: 14px;
                            font-size: 14px;
                            padding: 2px 10px 2px 10px;
                            border-radius: 2px;
                            background-color: @midnight_blue;
                            transform: translateX(50%);
                            white-space: nowrap;
                        }
                        div.tooltip-arrow {
                            position: absolute;
                            bottom: -2px;
                            transform: translateX(50%);
                            border-radius: 0px;
                            right: 0%;
                            border-width: 4px;
                            border-color: transparent;
                            border-bottom-color: @midnight_blue;
                        }
                    }
                }
            }
        }
    }
}


/* Settings
------------------------------------------------------------------------------*/
#settings-schedule {
    .btn {
        border-radius: 0px;
    }
}

