@lite_blue: #a0d5e8;
@lite_red: #e0ab96;
@lite_green: #5cb85c;
@dark_green: #449d44;
@restore: #a0d5e8;
@close: #e0ab96;
@lite_gray: #a9b0aa;

@midnight_blue: #2c3e50;
@nephritis: #27ae60;
@turquoise: #1abc9c;
@sun_flower: #f1c40f;
@peter_river: #3498db;
@clouds: #ecf0f1;
@clouds_1: #edeff1;

body {
    padding: 0px;
    margin: 0px;
    background-color: @turquoise;
}

/* HEADER
------------------------------------------------------------------------------*/
nav.navbar {
    height: 120px;

    .navbar-header {

        a.navbar-brand {
            display: inline-block;
            height: 120px;
            padding-top: 40px;
            padding-bottom: 40px;
            font-size: 40px;
            text-transform: uppercase;
        }
        a.icon {
            display: inline-block;
            height: 120px;
            padding-top: 20px;
            padding-bottom: 20px;

            img {
                height: 100%;
            }
        }
    }

    form {
        padding-top: 42px;
        padding-bottom: 43px;
    }

    .btn {

        &.btn-warning {
            font-size: 16px;
            background-color: @sun_flower !important;
        }
    }
}


/* FOOTER
------------------------------------------------------------------------------*/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: @nephritis;

    .footer-copyright {
        line-height: 50px;
        color: white;
    }
}


/* content
------------------------------------------------------------------------------*/
div.content {
    padding-top: 130px;
    padding-bottom: 60px;

    .header-default {
        text-transform: uppercase;
        color: white;
    }

    .active-primary .active {
        background-color: @turquoise;
    }
}



/* message box
------------------------------------------------------------------------------*/
div#message-box {
    padding: 0px 0px;

    div.alert {
        text-align: center;
    }
}


/* login form
------------------------------------------------------------------------------*/
.login-form {
    border-radius: 6px;
    background-color: @clouds;
}


/* Popover
------------------------------------------------------------------------------*/
.popover-success {
    border-color: #3c763d;

    .arrow {
        border-right-color: #3c763d !important;
    }

    .popover-content {
        color: #3c763d;
    }
}

.popover-warning {
    border-color: #8a6d3b;

    .arrow {
        border-right-color: #8a6d3b !important;
    }

    .popover-content {
        color: #8a6d3b;
    }
}


.popover-error {
    border-color: #a94442;

    .arrow {
        border-right-color: #a94442 !important;
    }

    .popover-content {
        color: #a94442;
    }
}


/* tasks adding section
------------------------------------------------------------------------------*/
section#add_task_section {
    width: 100%;
    background-color: #f5f5f5;
    box-shadow: 0px 2px 7px @lite_gray;
    padding: 10px 5px;

    div#duration-picker {
        text-align: center;
    }

    #task-name {
        font-size: 120%;
        resize: vertical;
        height: 50px;
        margin: 10px 0px;
        padding: 5px;
    }

}

/* Duration picker
------------------------------------------------------------------------------*/
div#duration-picker {

  div {
    display: inline-block;
    vertical-align: middle;
    width: 50px;

    &#days {
      margin-right: 10px;
      width: 75px;
    }
  }

  p {
    color: rgb(100, 100, 100);
    margin: 0px;
    padding: 0px;

    &.count {
      text-align: center;
      font-size: 250%;
      font-family: monospace;
    }

    &.arrow {
      text-align: center;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 200%;
      position: relative;
      cursor: pointer;

      &.up {
        bottom: 0px;
        &:after {
          content: "\f106";
        }
      }

      &.down {
        top: -2px;
        &:after {
          content: "\f107";
        }
      }
    }

    &.separator {
      position: relative;
      top: -4px;
      display: inline-block;
      vertical-align: middle;
      font-size: 200%;
    }
  }

  input {

    &#duration {
      display: none;
    }

    &.count {
      width: inherit;
      margin: 0px;
      padding: 0px;
      background-color: transparent;
      border: none;
      outline: none;
      font-size: 250%;
      font-family: monospace;
      text-align: center;
    }
  }

}

/* Tabs
------------------------------------------------------------------------------*/
#tabs-navigation {

    a {
        border-radius: 0px;
        padding: 10px 25px;
        div {
            position: relative;
            i {
                position: absolute;
                line-height: 1.4;
            }
            span.moved-text {
                cursor: text;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
            span.place-holder {
                visibility: hidden;
            }
        }
    }
    a#add-new-tab {
        padding-right: 0px;
        padding-left: 0px;
        div {
            position: relative;
            height: calc(15px * 1.4);

            span {
                display: inline-block;
                position: absolute;
                right: 0px;
                top: 50%;
                transform: translate(-10px, -50%);
                font-size: 30px;
                z-index: 200;
            }
        }
    }
    a:last-child {
        padding-right: 50px;
    }
}

/* ORDER BUTTON
------------------------------------------------------------------------------*/
#order-button {
    ul.dropdown-menu {
        min-width: 100%;
    }
}


/* Tasks area section
------------------------------------------------------------------------------*/
ul.tasks_area {
    width: 100%;
    list-style:none;
    padding-left:0;

    .marker {
      height: 0;
      padding: 0;
      margin: 0;
    }

    li {
        position: relative;
    }

    li.task {
        border-radius: 0px;
        box-shadow: 0px 2px 7px @lite_gray;
        margin-top: 0px;
        margin-bottom: 10px;
        padding-right: 0px;
        font-size: 0px;

        div.draggable-area {
            display: inline-block;
            width: 2%;
            vertical-align: middle;
            text-align: center;
            font-size: 20px;
            cursor: pointer;
            color: @lite_gray;
        }

        div.complete {
            display: inline-block;
            width: 7%;
            vertical-align: middle;
            text-align: center;
            font-size: 40px;
            line-height: 1;

            a {
                color: @lite_green;
                cursor: pointer;

                &:hover {
                    text-decoration: none;
                    color: @dark_green;
                }
            }

        }

        div.name-and-progress {
            display: inline-block;
            width: 85%;
            text-align: center;
            vertical-align: middle;
            font-size: 18px;

            div.progress {
                margin-bottom: 0px;
                margin-top: 5px;
                height: 10px;

                div.progress-bar {
                    height: 10px;
                }
            }
        }

        div.add-info {
            display: inline-block;
            width: 5%;
            text-align: center;
            vertical-align: middle;
            font-size: 16px;

            a {
                cursor: pointer;
            }
        }
    }
}

