/* MAIN THEME */
@turquoise: #1ABC9C;
@green_sea: #16A085;

/* GREEN */
@emerald: #2ECC71;
@nephritis: #27AE60;

/* PURPLE */
@amethyst: #9B59B6;
@wisteria: #8E44AD;

/* YELLOW */
@sun_flower: #F1C40F;
@sun_flower_hover: #F4D313;
@orange: #F39C12;

/* ORANGE */
@carrot: #E67E22;
@pumpkin: #D35400;

/* BLUE */
@peter_river: #3498DB;
@belize_hole: #2980B9;

/* DARK GRAY */
@wet_asphalt: #34495E;
@midnight_blue: #2C3E50;

/* GRAY */
@concrete: #95A5A6;
@asbestos: #7F8C8D;

/* LIGTH GRAY */
@clouds: #ECF0F1;
@silver: #bdc3c7;

/* REDS */
@alizarin: #E74C3C;
@pomegranate: #C0392B;

/* NOT INCLUDED */
@progress_bar: #53DFCF;

html {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

body {
    position: relative;
    padding: 0px;
    margin: 0px;
    min-height: 100%;
    background-color: @turquoise;
}


/* HEADER
------------------------------------------------------------------------------*/
nav.navbar {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    ul {
        a {
            height: 80px;
            padding: 20px;
            font-size: 40px;
            line-height: 45px;
            text-transform: uppercase;
        }
        a.reminder-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            img {
                height: 60px;
                width: 60px;
                transition: all 0.25s;
                transition-timing-function: easeInOutBack;
                transform: translateY(-5%);
                &:hover {
                    transform: translateY(-5%) scale(1.1);
                }
            }
        }
    }
    form.navbar-form {
        padding-top: 22.5px;
        padding-bottom: 22.5px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .btn {
        border-radius: 3px;
        font-size: 16px;
        span {
            &.fa {
                margin-right: 5px;
            }
            display: inline-block;
            vertical-align: middle;
        }
        &.btn-warning {
            background-color: @sun_flower;
            &:hover {
                background-color: @sun_flower_hover;
                border-color: @sun_flower_hover;
            }
        }
    }
}


/* FOOTER
------------------------------------------------------------------------------*/
.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: @nephritis;

    .footer-copyright {
        line-height: 50px;
        color: white;
    }
}


/* content
------------------------------------------------------------------------------*/
div.content {
    padding-top: 80px;
    padding-bottom: 50px;

    .header-default {
        text-transform: uppercase;
        color: white;
        padding: 15px 0px 15px 0px;
        margin: 0px;
    }

    .header-default-lower {
        color: white;
        padding: 15px 0px 15px 0px;
        margin: 0px;
    }

    .page-header {
        margin: 30px 0px;
    }
    #intro-part, #description-part, #signup-part {
        width: 100%;
        min-height: 500px;
        padding: 70px 0px;
        box-sizing: border-box;
    }
}

#intro-part {
    div#imac {
        background: @turquoise url(/static/img/login/imac-2x.png) no-repeat center center;
        background-size: 100% auto;
        min-height: 500px;
    }
}

#description-part {
    background-color: @emerald;
}

#signup-part {
    background-color: @turquoise;
}


/* message box
------------------------------------------------------------------------------*/
div#message-box {
    padding: 0px 0px;

    div.alert {
        text-align: center;
    }
}


/* login form
------------------------------------------------------------------------------*/
#login-form {
    border-radius: 3px;
    background-color: @clouds;
    p {
        font-size: 16px;
    }
}

#login-form-horizontal {
    button {
        border-radius: 3px;
    }
}


/* Validation
------------------------------------------------------------------------------*/
form {
    .form-group {
        position: relative;
    }
    input {
        &.error {
            position: relative;
            border-color: @alizarin;
            color: @alizarin;
        }
        &.success {
            border-color: @emerald;
            color: @emerald;
        }
    }
    label.error {
        color: @alizarin;
        font-weight: 700;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    &.form-horizontal {
        label.error {
            white-space: nowrap;
            left: 100%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}


/* Unconfirmed
------------------------------------------------------------------------------*/
a#resend-confirmation-link {
    cursor: pointer;
    color: @wisteria;
    &:hover {
        color: @amethyst;
    }
}


/* Duration picker
------------------------------------------------------------------------------*/
div#duration-picker-replacer {

    margin-right: -5px;
    margin-left: -5px;

    div {
        padding-left: 5px;
        padding-right: 5px;
        position: relative;

        div {
            padding: 0px;
        }

        div.value {
            font-size: 40px;
            text-align: center;
            outline: none;
        }

        div.arrow {
            text-align: center;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 32px;
            position: absolute;
            cursor: pointer;

            &.up {
                top: -20px;
                left: 50%;
                transform: translateX(-50%);
                &:after {
                    content: "\f106";
                }
            }

            &.down {
                bottom: -20px;
                left: 50%;
                transform: translateX(-50%);
                &:after {
                    content: "\f107";
                }
            }
        }
    }

    div#hours, div#minutes {
        div.value {
            &:after {
                position: absolute;
                right: -10px;
                top: -3px;
                content: ":";
            }
        }
    }
}

/* Tabs
------------------------------------------------------------------------------*/
#tabs-navigation {
    padding: 0px;
    margin: 0px;
    margin-bottom: 25px;
    font-size: 0px;
    /*
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    */

    li {
        display: inline-block;
        list-style: none;
        margin-right: 3px;
        /*flex-grow: 1;*/

        &.tab-droppable-hover a {
            background-color: @sun_flower;
        }
    }
    li:last-child {
        margin-right: 0px;
        /*flex-grow: 0;*/
    }

    a {
        position: relative;
        border-radius: 3px;
        padding: 15px 35px;
        transition: padding-right 0.6s;
        margin-bottom: 3px;
        font-size: 15px;
        height: 51px;
        /*width: 100%; for flex*/
        div {
            position: relative;
            i {
                position: absolute;
                line-height: 1.4;
            }
            span.moved-text {
                &:focus {
                    outline: none;
                }
                cursor: text;
                position: absolute;
                left: 50%;
                transition: left 0.3s;
                transform: translateX(-50%);
            }
            span.place-holder {
                visibility: hidden;
            }
        }
        &.active {
            background-color: @wisteria;
        }
        &.extended {
            padding-right: 75px;
        }
        &#add-new-tab {
            padding-right: 0px;
            padding-left: 0px;
            div {
                position: relative;
                height: calc(15px * 1.4);

                span {
                    display: inline-block;
                    position: absolute;
                    right: 0px;
                    top: 50%;
                    transform: translate(-20px, -50%);
                    font-size: 30px;
                    z-index: 200;
                }
            }
        }
    }
}

/* ORDER BUTTON
------------------------------------------------------------------------------*/
#order-button {
    ul.dropdown-menu {
        min-width: 100%;
        li {
            cursor: pointer;
        }
    }
}


/* Tasks area section
------------------------------------------------------------------------------*/
ul.tab-tasks {
    padding-left: 0px;
    font-size: 0px;

    li {
        position: relative; /* need for task sorting animation */
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;
        border-radius: 3px;
        margin-bottom: 10px;

        div {
            display: inline-block;
            text-align: center;
            border-radius: 3px;
            line-height: 32px;

            &.task-complete {
                cursor: pointer;
                font-size: 32px;
                margin: 0px 5px;
            }
            &.task-draggable-area {
                background-color: @midnight_blue;
                color: white;
                cursor: grabbing;
                font-size: 16px;
                width: 22px;
                margin: 0px 15px 0px 10px;
            }
            &.task-name {
                flex-grow: 1;
                position: relative;
                background-color: @progress_bar;
                color: white;
                padding: 0px 25px;
                min-height: 32px;
                font-size: 18px;
                i {
                    position: absolute;
                    right: 12.5px;
                    top: 50%;
                    transform: translate(50%, -50%);
                    cursor: pointer;
                    z-index: 200;
                }
                span.place-holder {
                    visibility: hidden;
                    width: calc(~"100% - 50px");
                }
                span.moved-text {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transition: left 0.3s;
                    transform: translate(-50%, -50%);
                    width: calc(~"100% - 50px");
                    z-index: 200;
                    cursor: text;
                    outline: none;
                }
                div.task-progress-bar {
                    position: absolute;
                    left: 0%;
                    top: 0%;
                    background-color: @midnight_blue;
                    height: 100%;
                    border-radius: 3px;
                    z-index: 100;
                    overflow: visible !important;

                    div.progress-bar-tooltip {
                        position: absolute;
                        right: 0%;
                        height: 100%;

                        div.tooltip-content {
                            position: absolute;
                            bottom: -20px;
                            right: 0%;
                            line-height: 14px;
                            font-size: 14px;
                            padding: 2px 10px 2px 10px;
                            border-radius: 2px;
                            background-color: @midnight_blue;
                            transform: translateX(50%);
                            white-space: nowrap;
                        }
                        div.tooltip-arrow {
                            position: absolute;
                            bottom: -2px;
                            transform: translateX(50%);
                            border-radius: 0px;
                            right: 0%;
                            border-width: 4px;
                            border-color: transparent;
                            border-bottom-color: @midnight_blue;
                        }
                    }
                }
            }
        }
    }
}


/* Settings
------------------------------------------------------------------------------*/
#settings-schedule {
    .btn {
        border-radius: 0px;
    }
}

