{% extends "email/base.html" %}

{% block content %}
<p>Hello <span class="user-name">{{user.username}}</span>!</p>
<p>We want to notice you that you have new tasks ready for completion today.</p>

{% for tab in tabs %}
    {% if tab.tasks %}
    <div><b>{{ tab.name }}</b></div>
    <ul>
        {% for task in tasks %}
            {% if task.tab.name == tab.name and task.is_active() %}
                <li><b>{{ task.name }}</b>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
{% endfor %}
{% endblock %}
