<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% assets "main_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

    {% if config == 'dev' %}
        <link rel="stylesheet" type="text/less" href="{{ url_for('static', filename='css/main.less') }}">
    {% endif %}

    <title>{% block title %}Start{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li>
                    <a class="reminder-icon" href="{{ url_for('main.index') }}">
                        <img src="{{ url_for('static', filename='img/icons/svg/clipboard.svg') }}" alt="Clipboard">
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('main.index') }}">reminder</a>
                </li>
            </ul>

            {% if current_user.is_authenticated %}

            <form class="navbar-form navbar-right">

                {% if current_user.confirmed %}
                    <a id="settings" class="btn navbar-btn btn-warning btn-wide" href="{{ url_for('main.settings') }}">
                        <span class="fa fa-cog"></span><span>Settings</span>
                    </a>
                {% endif %}

                    <a class="btn navbar-btn btn-warning btn-wide" href="{{ url_for('auth.logout') }}">
                        <span>Log out</span>
                    </a>
            </form>

            {% else %}

            <form id="login-form-horizontal" class="navbar-form navbar-right" action="{{ url_for('auth.login', next=request.args.get('next')) }}" method="POST">
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <button id="navigation-login-button" type="submit" class="btn btn-warning btn-wide">Login</button>
            </form>

            {% endif %}

        </div>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="footer-copyright">
                        &copy; Mr&Mrs Lapshin, 2017
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div id="modal-box"></div>

    {% assets "main_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

<script>
    $(document).ready(function() {
        showFlashMessages({{ get_flashed_messages(with_categories=true)|tojson }})

        {% block scripts %}{% endblock %}
    });
</script>

</body>
</html>
