<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet/less" href="{{ url_for('static', filename='base.less') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='960_12_col.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}" type="text/css">
    <script src="{{ url_for('static', filename='less.js') }}" type="text/javascript"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container_12 clearfix">
        <header class="grid_12 temp_color">
            <nav class="grid_8 alpha omega push_4">
                <a class="apps" href="/">Home</a>
                <a class="apps" href="reminder">reminder</a>
                <a class="apps" href="gallery">gallery</a>
                <a class="apps" href="earnings">earnings</a>
            </nav>
            <p class="grid_12 alpha omega main_logo">Assistant</p>
        </header>
        <div class="grid_12 content temp_color">
            {% block content %}{% endblock %}
        </div>
        <footer class="grid_12 temp_color">
        </footer>
    </div>
</body>
</html>