<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% assets "main_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    {% if config == 'dev' %}
        <link rel="stylesheet" type="text/less" href="{{ url_for('static', filename='css/main.less') }}">
    {% endif %}

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container" id="message-box"> </div>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('reminder.index') }}">Reminder</a>
            </div>
            <center>
                <div class="navbar-collapse collapse" id="navbar-main">
                    {% if current_user.is_authenticated %}
                        <form class="navbar-form navbar-right" action="{{ url_for('auth.logout') }}" method="POST">
                            <button type="submit" class="btn btn-default">Sign Out</button>
                        </form>
                    {% else %}
                        <form class="navbar-form navbar-right" action="{{ url_for('auth.login') }}" method="POST">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="Password">
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="remember_me">Remember me</label>
                            </div>
                            <button type="submit" class="btn btn-default">Sign In</button>
                            <a href="{{ url_for('auth.register') }}" class="btn btn-success" role="button">Sign Up</a>
                        </form>
                    {% endif %}
                </div>
            </center>
        </div>
    </nav>

    <div class="container content temp_color">
        {% block content %}{% endblock %}
    </div>

    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
    </script>
    <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous">
    </script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">
    </script>
    {% if config == 'dev' %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>
    {% endif %}
    <script>
        if (typeof(jQuery) === 'undefined') {
            document.write(`<script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"><\/script>`);
        }
    </script>
    <script>
        if (typeof(jQuery.ui) === 'undefined') {
            document.write(`<script src="{{ url_for('static', filename='js/jquery-ui-1.12.1.min.js') }}"><\/script>`);
        }
    </script>
    <script>
        if (typeof($.fn.modal) === "undefined") {
            document.write('<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"><\/script>');
        }
    </script>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    {% if current_user.is_authenticated %}
        <script>
            $(document).ready(function(){
                CURRENT_TAB = {{ active_tab }}
                durationPicker.show();
                initTasksJs();
            });
        </script>
    {% endif %}

</body>
</html>
