{% extends 'base.html' %}

{% block title %}Reminder{% endblock %}

{% block content %}
<div id="intro-part">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h1>Sign up - It's free</h1>
                <a class="btn btn-warning btn-wide" href="#signup-form">Sign up</a>
            </div>
            <div id="imac" class="col-md-6 col-md-offset-1"></div>
        </div>
    </div>
</div>

<div id="description-part">
    <div class="container">
        <div class="row">

        </div>
    </div>
</div>

<div id="signup-part">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <form id="signup-form" class="login-form" method="POST">
                    <div class="form-group">
                        <label>Email:</label>
                        <div class="input-wrapper">
                            <input type="email" class="form-control" name="email"
                                   placeholder="enter your email" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control" name="username"
                               placeholder="enter your name" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" class="form-control" name="password"
                               placeholder="enter new password" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>Confirm password:</label>
                        <input type="password" class="form-control" name="confirm_password"
                               placeholder="repeat your new password" autocomplete="off">
                    </div>
                    <button type="submit" class="btn btn-block btn-success">Sing Up</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="login-modal" class="modal fade" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0">
                <form id="login-form" class="login-form" action="{{ url_for('auth.login', next=request.args.get('next')) }}" method="POST">
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="email" class="form-control" name="email" placeholder="enter your email">
                    </div>
                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" class="form-control" name="password" placeholder="enter your password">
                    </div>
                    <div class="form-group">
                        <label>Remember me</label>
                        <div class="pull-right">
                            <input type="checkbox" data-toggle="switch" name="remember_me" data-on-color="success" data-off-color="default" />
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-success">Login</button>
                    </div>
                    <div class="form-group">
                        <p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it.</a></p>
                        <p>New user? <a href="{{ url_for('auth.signup') }}">Click here to register.</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    createModalForNavigationLoginButton();
    validateSignUp();
    validateSignIn();
{% endblock %}
