{% macro show_history(tasks_times) %}
    {% for task, time_complete in tasks_times|reverse %}
        <div class="history-row well well-sm">
            {% if task.is_active() %}
                <span class="marker active"><i class="fa fa-circle" aria-hidden="true"></i></span>
            {% else %}
                <span class="marker"></span>
            {% endif %}
            <p class="task-name-text">{{ task.name }}</p>
            <span class="dropdown">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                <ul class="dropdown-menu">
                    {% if task.is_close() %}
                        <li>
                            <a href="{{ url_for('reminder.restore', task_id=task.id) }}">
                                <i class="fa fa-undo" aria-hidden="true"></i>restore
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ url_for('reminder.remove', task_id=task.id, time_complete=time_complete) }}">
                            <i class="fa fa-times" aria-hidden="true"></i>close
                        </a>
                    </li>
                </ul>
            </span>
        </div>
        <!--
            <div class="time_complete">{{ time_complete }}</div>
        -->
    {% endfor %}
{% endmacro %}


{{ show_history(tasks_times) }}

