{% extends "base.html" %}

{% from "reminder/schedule.html" import create_schedule %}
{% from "reminder/schedule.html" import show_history %}

{% block title %}Reminder{% endblock %}

{% block header %}<h2 class="col-md-12">Reminder</h2>{% endblock %}

{% block content %}
<div class="row">
    <div id="left_side" class="col-md-3">
        <section id="add_task_section">
            <form method="post">
                <input type="text" class="form-control" id="duration" name="picker">
                <textarea class="form-control task_name" name="task_name" placeholder="write your task" required="required"></textarea>
                <button type="submit" class="btn btn-success btn-lg btn-block" name="add_task_submit">create</button>
            </form>
        </section>
        <section id="history_section">
            <h3>completed</h3>
            {{ show_history(tasks_times) }}
        </section>
    </div>
    <div id="right_side" class="col-md-9">
        <section id="tasks_area">
            {{ create_schedule(tasks) }}
        </section>
    </div>
</div>
{% endblock %}
