{% extends "base.html" %}

{% from "reminder/schedule.html" import create_schedule %}

{% block title %}Reminder{% endblock %}

{% block content %}
<div class="forms grid_2 alpha">
    <form class="control" method="post">
        <input type="text" name="name" placeholder="name" required="required">
        <input type="text" name="time_loop" placeholder="time loop" required="required">
        <input type="submit" name="add_form" value="create">
    </form>
    <br />
    <form class="control" method="post">
        <input type="text" name="name" placeholder="button name">
        <input type="text" name="new_name" placeholder="new button name">
        <input type="text" name="time_loop" placeholder="loop time">
        <input type="submit" name="update_form" value="update">
    </form>
    <br />
</div>
<div class="buttons grid_10 omega">
    {{ create_schedule(buttons, [('today', None, 86400), ('tomorrow', 86400, 172800), ('future', 172800, None)]) }}
</div>
{% endblock %}
