{% macro create_task_item(task) %}
    {% if task.is_active() %}
        {% set left_percents = task.count_left_time() / task.time_loop * 100 %}
        {% if left_percents < 0 %}
            {% set left_percents = 0 %}
        {% endif %}
        <div id="{{ task.id }}" class="task well well-sm">
            <div class="complete">
                <a onclick="completeTask('{{ task.id }}')">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </a>
            </div>
            <div class="name-and-progress">
                <p class="task-name" contenteditable="true">{{ task.name }}</p>
                <div class="progress">
                    <div class="progress-bar" style="width: {{ left_percents }}%"
                         data-left-time="{{ task.count_left_time() }}"></div>
                </div>
            </div>
            <div class="add-info">
                <a class="task-close" onclick="closeTask('{{ task.id }}')">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
                <br />
                <a data-toggle="tooltip" title="{{ task.show_loop_time() }}">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        {% endif %}
{% endmacro %}


{% macro create_history_item(task, time_complete) %}
<div class="history-row well well-sm">
    {% if task.is_active() %}
        <span class="marker active"><i class="fa fa-circle" aria-hidden="true"></i></span>
    {% else %}
        <span class="marker"></span>
    {% endif %}
    <p class="task-name-text">{{ task.name }}</p>
    <span class="dropdown">
        <a class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
        <ul class="dropdown-menu">
            {% if task.is_close() %}
                <li>
                    <a onclick="restoreTask('{{ task.id }}')">
                        <i class="fa fa-undo" aria-hidden="true"></i> restore
                    </a>
                </li>
            {% endif %}
                <li>
                    <a onclick="removeHistoryItem(this, '{{ task.id }}', '{{ time_complete }}')">
                        <i class="fa fa-times" aria-hidden="true"></i> close
                    </a>
                </li>
        </ul>
    </span>
</div>
{% endmacro %}


{% macro create_tasks_area(tasks) %}
    {% for task in tasks %}
        {{ create_task_item(task) }}
    {% endfor %}
{% endmacro %}


{% macro create_history_area(tasks_times) %}
    {% for task, time_complete in tasks_times|reverse %}
        {{ create_history_item(task, time_complete) }}
    {% endfor %}
{% endmacro %}

