

{% macro create_tasks_area(tabs_tasks) %}
    {% for tab, tasks in tabs_tasks %}
        {% if tab.is_active() %}
            <div id="tab{{ tab.id }}" class="tab-pane fade in active">
        {% else %}
            <div id="tab{{ tab.id }}" class="tab-pane fade">
        {% endif %}
                <ul class="tasks_area connectedSortable">
                    {% for task in tasks %}
                        {{ create_task_item(task) }}
                    {% endfor %}
                </ul>
            </div>
    {% endfor %}
{% endmacro %}


{% macro create_task_item(task) %}
    {% if task.is_active() %}
        {% set left_percents = task.count_left_time() / task.time_loop * 100 %}
        {% if left_percents < 0 %}
            {% set left_percents = 0 %}
        {% endif %}
        <li id="{{ task.id }}" class="task well well-sm">
            <div class="draggable-area">
                <i class="fa fa-arrows" aria-hidden="true"></i>
            </div>
            <div class="complete">
                <a onclick="completeTask('{{ task.id }}')">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </a>
            </div>
            <div class="name-and-progress">
                <p class="task-name" contenteditable="true">{{ task.name }}</p>
                <div class="progress">
                    <div class="progress-bar" style="width: {{ left_percents }}%"
                         data-left-time="{{ task.count_left_time() }}"></div>
                </div>
            </div>
            <div class="add-info">
                <a class="task-close" onclick="closeTask('{{ task.id }}')">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
                <br />
                <a data-toggle="tooltip" title="{{ task.show_loop_time() }}">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </a>
            </div>
        </li>
    {% endif %}
{% endmacro %}


{% macro create_tabs(tabs) %}
    {% for tab in tabs %}
        {% if tab.is_active() %}
            <li class="active">
        {% else %}
            <li>
        {% endif %}
                <a data-toggle="tab" href="#tab{{ tab.id }}" onclick="activateTab(this)">{{ tab.name }}</a>
                <a class="tab-close" data-toggle="modal" data-target="#close-tab-confirmation">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </li>
    {% endfor %}
{% endmacro %}
