{% macro create_schedule(buttons, periods) %}
    {% for note, from, to in periods %}
        <div class="time grid_10 alpha omega">
            <p class="grid_10 alpha omega">{{ note }}</p>
            {% for button in buttons %}
                {% if (not from and (button.count_left_time() < to)) or
                      (not to and (from <= button.count_left_time())) or
                      (from and to and from <= button.count_left_time() < to) %}
                    <div class="button grid_2">
                        <a id="button_body_link" href="reminder/press/{{ button.name }}">
                            <div id="button_body">
                                <p id="button_name">{{ button.name }}</p>
                                <p id="left_time">{{ button.show_left_time() }}</p>
                                <p id="time_loop">{{ button.show_loop_time() }}</p>
                            </div>
                        </a>
                        <a id="button_close_link" href="reminder/press/{{ button.name }}/close">
                            <div id="button_close">
                                <p>x</p>
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
{% endmacro %}

