{% macro create_schedule(tasks) %}
    {% for task in tasks %}
        {% if task.is_active() %}
            {% set left_percents = task.count_left_time() / task.time_loop * 100 %}
            <div class="task well well-sm">
                <a class="complete" href="{{ url_for('reminder.complete', task_name=task.name) }}">
                   <i class="fa fa-check-circle" aria-hidden="true"></i>
                </a>
                <div class="name-and-progress">
                    <p class="task_name">{{ task.name }}</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar"
                             aria-valuenow="{{ left_percents }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ left_percents }}%"></div>
                    </div>
                </div>
                <div class="add-info">
                    <a class="task_close_link" href="{{ url_for('reminder.close', task_name=task.name) }}">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                    <br />
                    <a data-toggle="tooltip" title="{{ task.show_loop_time() }}">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endmacro %}


{% macro show_history(tasks_times) %}
    {% for task, time_complete in tasks_times|reverse %}
        <div class="history-row well well-sm">
            {% if task.is_active() %}
                <span class="marker active"><i class="fa fa-circle" aria-hidden="true"></i></span>
            {% else %}
                <span class="marker"></span>
            {% endif %}
            <p class="task-name-text">{{ task.name }}</p>
            <span class="dropdown">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                <ul class="dropdown-menu">
                    {% if task.is_close() %}
                        <li>
                            <a href="{{ url_for('reminder.restore', task_name=task.name) }}">
                                <i class="fa fa-undo" aria-hidden="true"></i>restore
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ url_for('reminder.remove', task_name=task.name, time_complete=time_complete) }}">
                            <i class="fa fa-times" aria-hidden="true"></i>close
                        </a>
                    </li>
                </ul>
            </span>
        </div>
        <!--
            <div class="time_complete">{{ time_complete }}</div>
        -->
    {% endfor %}
{% endmacro %}

