{% macro create_schedule(buttons, periods) %}
    {% for note, from, to in periods %}
        <article class="time">
            <p>{{ note }}</p>
            {% for button in buttons %}
                {% if button.is_active() %}
                {% if (not from and (button.count_left_time() < to)) or
                      (from and to and from <= button.count_left_time() < to) or
                      (not to and (from <= button.count_left_time())) %}
                    <div class="button">
                        <a class="button_body_link" href="reminder/press/{{ button.name }}">
                            <div class="button_body">
                                <p class="button_name">{{ button.name }}</p>
                                <p class="left_time">{{ button.show_left_time() }}</p>
                                <p class="time_loop">{{ button.show_loop_time() }}</p>
                            </div>
                        </a>
                        <a class="button_close_link" href="reminder/press/{{ button.name }}/close">
                            <div class="button_close">
                                <p>x</p>
                            </div>
                        </a>
                    </div>
                {% endif %}
                {% endif %}
            {% endfor %}
        </article>
    {% endfor %}
{% endmacro %}


{% macro show_history(buttons_times) %}
    {% for button, time_press in buttons_times|reverse %}
        <div class="history_row">
        {% if button.is_active() %}
            <div class="history_col activity_marker active"></div>
        {% endif %}
            <div class="history_col history_task_info">
                <div class="task_name">{{ button.name }}</div>
                <div class="time_press">{{ time_press }}</div>
            </div>
            <div class="history_col control_buttons">
                <a class="close" href="reminder/press/{{ button.name }}/{{ time_press }}/remove"><i class="fa fa-times" aria-hidden="true"></i></a>
                {% if button.is_close() %}
                    <a class="restore" href="reminder/press/{{ button.name }}/restore"><i class="fa fa-undo" aria-hidden="true"></i></a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endmacro %}

